doctype html
html
	head
		title TuneMelt
		link(rel="stylesheet", href="res/style.css")
		script(type="text/javascript", src="requirejs/require.js", data-main='js/bootstrap.js')
	body
		#page
			header
				h1 Single Page App Test
			section#main
				img#preloader.active(src='res/ajax-loader.gif', alt="preloader")
			footer
				//-p Parnescu Adrian &copy; #{new Date().getFullYear()}